<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>test des formulaires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h1>Bonjour {{ name }} vous avez {{ age }} ans</h1>

  <p>{{ age + 6 }}</p>

  <ion-button (click)="getOlder()" expand="block" color="{{buttonColor}}">
    Bon anniversaire
  </ion-button>

  <ion-list>
    <ion-item class="ion-padding" class="accent">
      <ion-label position="floating" color="primary">Prénom</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input value="Brahé"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">profession</ion-label>
      <ion-select mode="ios">
        <ion-select-option> Développeur </ion-select-option>
        <ion-select-option> Graphiste </ion-select-option>
        <ion-select-option> Chef de projet </ion-select-option>
        <ion-select-option> Architecte </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Langages</ion-label>
      <ion-select okText="Valider" cancelText="Annuler" multiple="true">
        <ion-select-option>Java</ion-select-option>
        <ion-select-option>PHP</ion-select-option>
        <ion-select-option>Python</ion-select-option>
        <ion-select-option selected>C++</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Bio</ion-label>
      <ion-textarea rows="5"></ion-textarea>
    </ion-item>

    <ion-radio-group>
      <ion-list-header>Sexe</ion-list-header>

      <ion-item>
        <ion-label>Femme</ion-label>
        <ion-radio value="F" slot="start"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Homme</ion-label>
        <ion-radio value="M" slot="start"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item>
      <ion-range min="20" max="80" step="10" pin="true" tick="true" snaps="true">

        <ion-icon small slot="start" name="sunny" color="dark">
        </ion-icon>

        <ion-icon slot="end" name="sunny" color="medium">
        </ion-icon>

      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>remember me</ion-label>
      <ion-toggle slot="end" mode="ios"></ion-toggle>
    </ion-item>


  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" expand="full">Valider</ion-button>
  </ion-toolbar>
</ion-footer>